<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Laravel Viva Payments Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="tap" target="build/report.tap"/>
        <log type="junit" target="build/report.junit.xml"/>
        <log type="coverage-html" target="build/coverage"/>
        <log type="coverage-text" target="build/coverage.txt"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="VIVA_API_KEY" value="-HiE&amp;i"/>
        <env name="VIVA_MERCHANT_ID" value="0998e4de-3574-451b-9521-8e4f2a06c39d"/>
        <env name="VIVA_PUBLIC_KEY" value="UKOea0ocsYs1ZDClP9wq5iRNHVSm/nNNK6eX/t6P2sk="/>
        <env name="VIVA_CLIENT_ID" value="0998e4de-3574-451b-9521-8e4f2a06c39d.apps.vivapayments.com"/>
        <env name="VIVA_CLIENT_SECRET" value="0998e4de-3574-451b-9521-8e4f2a06c39d"/>
        <!-- <env name="VIVA_CLIENT_ID" value="generic_acquiring_client.apps.vivapayments.com"/>
        <env name="VIVA_CLIENT_SECRET" value="generic_acquiring_client"/> -->
        <env name="VIVA_ENVIRONMENT" value="demo"/>
        <!-- <env name="VIVA_SOURCE_CODE" value="4693"/> -->
        <env name="VIVA_SOURCE_CODE" value="9253"/>
    </php>
</phpunit>
